
.Header{
    background-color: #3598db;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 3px 40px 10px rgba(53,152,219,.2);
    -moz-box-shadow: 0px 3px 40px 10px rgba(53,152,219,.2);
    box-shadow: 0px 3px 40px 10px rgba(53,152,219,.2);

    &__user {
        display: flex;
        align-items: center;
    }

    &__username {
        margin-left: 10px;
    }
}